/* #2c5e85 #852c2c #749da7 #bc7272  */
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Quattrocento Sans', sans-serif;*/

.body {
  background-color: #2c5e85;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c5e85;
}

.navbar .logo a {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #2c5e85;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #2c5e85;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

footer h3 {
  font-family: "Open Sans", sans-serif;
}

footer p {
  font-family: "Quattrocento Sans", sans-serif;
}
