/* #2c5e85 #852c2c #749da7 #bc7272  */
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Quattrocento Sans', sans-serif;*/
main {
  display: block;
}
body {
  background-color: #f7f5f7;
}

hr.line {
  border: 3px solid #2c5e85;
}
.max-width {
  max-width: auto;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f5f7;
  /* background: #eae9ea; */
}

.navbar .logo {
  width: 80px;
  padding: 10px;
}

/* .navbar .logo a {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #2c5e85;
} */

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #2c5e85;
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  margin-left: 1188px;
  transition: color 0.3s ease;
  font-family: "elza-text", sans-serif;
  font-style: normal;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

.home {
  display: flex;
  background: url("img/display_img_2.webp") no-repeat center;
  height: 10vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home2 {
  display: flex;
  background: url("img/display_img_1.webp") no-repeat center;
  height: 10vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.forsideText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  font-family: termina;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding: 30px;
  border: #fff;
  border-style: double;
  display: flex;
  background-color: #2c5e85;
  margin: 2.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forsideKategori {
  justify-content: center;
  text-align: center;
}
#forsideKategori {
  justify-content: center;
  text-align: center;
  font-family: "elza-text", sans-serif;
  font-style: normal;
  color: #2c5e85;
  font-size: 60px;
}

.forsideKategori a {
  /*  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: termina;
  font-weight: 400;
  font-style: normal;
  font-size: 30px; */
  margin: auto;
  border-style: double;
  border-width: 5px;
  border-color: white;
  background-color: transparent;
  font-family: termina;
  font-weight: 400;
  color: white;
  width: 450px;
  height: 130px;
  margin-inline: auto;
  text-decoration: none;
  font-size: 40px;
  padding-top: 1.5em;
}

.forsideKategori a:hover {
  color: crimson;
}

.kategorierGrid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  justify-items: center;
  justify-content: center;
  /*  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 424px));
  gap: 2rem;
  align-self: center;
  grid-gap: 4rem; */
}

.productlist article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2rem;
  justify-content: center;
}

.card_layout {
  font-family: "elza-text", sans-serif;
  font-style: normal;
  padding: 3em;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_layout > h3 {
  color: #2c5e85;
  font-size: 20px;
}
.card_layout > p {
  font-size: 18px;
}

.secondary_button {
  border-style: double;
  font-size: 20px;
  border-color: #2c5e85;
  padding: 5px;
  color: #2c5e85;
  width: fit-content;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.kat {
  color: white;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #2c5e85;
}

footer {
  background-color: #2c5e85;
  margin-top: 10em;
  display: flex;
  flex-direction: row;
}

.footer_info {
  font-family: "Quattrocento Sans", sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 2em;
}

.footer_logo {
  margin: 2em;
}
