/* #2c5e85 #852c2c #749da7 #bc7272  */
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Quattrocento Sans', sans-serif;*/
main {
  display: block;
}
.max-width {
  max-width: auto;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eae9ea;
}

.navbar .logo a {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #2c5e85;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #2c5e85;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

.home {
  display: flex;
  background: url("img/display_img_2.webp") no-repeat center;
  height: 10vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home2 {
  display: flex;
  background-color: #749da7;
  height: 10vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.forsideText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  display: flex;
  background-color: #2c5e85;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  color: white;
  font-size: 1.5rem;
}

.forsideKategori {
  justify-content: center;
  text-align: center;
}
#forsideKategori {
  justify-content: center;
  text-align: center;
}
.forsideKategori a{
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
}

#forsideKategori a:visited {
  color: white;
}

.kategorierGrid {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 424px));
  gap: 2rem;
  align-self: center;
  grid-gap: 4rem;
}

.productlist article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2rem;
}

.kat {
  color: white;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #2c5e85;
  height: 200px;
  width: 200px;
}

footer {
  background-color: #2c5e85;
}

footer h3 {
  font-family: "Open Sans", sans-serif;
}

footer p {
  font-family: "Quattrocento Sans", sans-serif;
}
